<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Option</title>
</head>
<body>
    {{template "header" .}}
    <h1>Option</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <textarea rows="10" cols="40" name="text">{{.Text}}</textarea><br>
        Video: <input type="file" name="video"><br>
        Audio: <input type="file" name="audio"><br>
        Image: <input type="file" name="image"> <br>
        <ol>
            {{range $i,$v := (splitByComma .Images.String)}}
            <li>
                <input id="delete-image-{{$i}}" type="checkbox" name="delete-image" value="{{$v}}">
                <label for="delete-image-{{$i}}">Mark as delete</label>
                <img src="/{{$v}}" alt="img" width="500">
            </li>
            {{end}}
        </ol>
        <input type="submit" value="Save">
    </form>
</body>
</html>