<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options of Question</title>
</head>

<body>
    {{template "header" .}}
    <h1>
        <a href="/books/{{.Book.ID}}/questions">Questions/</a>
    </h1>
    <p>
        {{.Question.Text}}
        <a href="."> ▶️ </a>
    <details>
        <summary> ✍️ </summary>
        <form method="post" action="." enctype="multipart/form-data">
            <textarea name="text">{{.Question.Text}}</textarea><br>
            Video: <input type="file" name="video"><br>
            Audio: <input type="file" name="audio"><br>
            <input type="submit" value="submit">
        </form>
    </details>
    </p>
    <hr>
    <b>Options:</b>
    <details open>
        <summary>Add</summary>
        <form method="post" action="">
            <textarea name="text"></textarea>
            <br>
            <input type="submit" value="submit">
        </form>
    </details>
    <ul>
        {{range .Options}}
        <li>
            <pre>{{.Text}}</pre>
            {{if ne .Video.String ""}}[Video]{{end}}
            {{if ne .Audio.String ""}}[Audio]{{end}}

            {{range (splitByComma .Images.String)}}
            <img loading="lazy"  src="/{{.}}" alt="img"><br>
            {{end}}
            <a href="./options/{{.ID}}"> ✍️ </a>
            <button onclick="fetch('/books/{{$.Book.ID}}/questions/{{$.Question.ID}}/options/{{.ID}}', { method: 'DELETE' })">Delete</button>
            <hr>
        </li>
        {{end}}
    </ul>
</body>

</html>