<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Question</title>
</head>

<body>
    {{template "header" .}}
    <h1>📖
        <a href="/books/{{.Book.ID}}/questions">{{.Book.Name}}/</a>
    </h1>
    <p>
        ❓{{.Question.Text}}
        <a href="./{{.Question.ID}}/options"> ✍️ </a>
    </p>
    <hr>
    <details>
        <summary>🙋Show option</summary>
        {{range .Options}}
        <pre>{{.Text}}</pre>
        <hr>
        {{end}}
    </details>
</body>

</html>