<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions of Book {{.Book.Name}} </title>
</head>

<body>
    {{template "header" .}}
    <h1>
        📖Book -
        <a href="/books/{{.Book.ID}}">{{.Book.Name}} </a>
    </h1>
    <pre>
        {{.Book.Desc}}
    </pre>
    <hr>
    <b>❓Questions</b>
    <details open>
        <summary>Add</summary>
        <form method="post" action="">
            <textarea name="text" id="add-question-text" rows="10" cols="40"></textarea><br>
            <textarea name="option" rows="10" cols="40"></textarea><br>
            <input type="submit" value="submit">
        </form>
    </details>

    <ol>
        {{range .Questions}}
        <li>
           {{if .Slayed.Bool}}🗡️{{else}} {{if .Done.Bool}}✅{{else}}❓{{end}}{{end}}
            <a href="/books/{{$.Book.ID}}/questions/{{.ID}}">{{.Text}} </a>
            <span> | </span>
            <a href="/books/{{$.Book.ID}}/questions/{{.ID}}/options"> ✍️ </a>
            <button onclick="if(confirm('Are you sure to delete?')) fetch('/books/{{$.Book.ID}}/questions/{{.ID}}',{method:'DELETE'})">🚮</button>
        </li>
        {{end}}
    </ol>
    
    {{if gt .Page 1}}
    <a href="?page={{add .Page -1}}">&lt;Prev</a>
    {{end}}
    <span> {{.Page}} </span>
    <span> / </span>
    <span> {{.TotalPage}} </span>
    {{if lt .Page .TotalPage}}
    <a href="?page={{add .Page 1}}">Next&gt;</a>
    {{end}}

    <script type="text/javascript">
        document.getElementById('add-question-text').focus();
    </script>
</body>

</html>