<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Question</title>
</head>

<body>
    {{template "header" .}}
    <h1>📖
        <a href="/books/{{.Book.ID}}/questions">{{.Book.Name}}/</a>
    </h1>
    <p>
        ❓{{.Question.Text}}
        <a href="./{{.Question.ID}}/options"> ✍️ </a>
    </p>
    <p>
        {{if ne .Question.Audio.String ""}}
        <audio src="/{{.Question.Audio.String}}" autoplay controls></audio>
        {{end}}
        {{if ne .Question.Video.String ""}}
        <video src="/{{.Question.Video.String}}" autoplay controls></video>
        {{end}}
    </p>
    <hr>
    <details>
        <summary>🙋Show option</summary>
        {{range .Options}}
        <pre>{{.Text}}</pre>
        {{if ne .Audio.String ""}}
        <audio src="/{{.Audio.String}}" controls></audio>
        {{end}}
        {{if ne .Video.String ""}}
        <video src="/{{.Video.String}}" controls></video>
        {{end}}
        <hr>
        {{end}}
    </details>
    <hr>
    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="slayed" value="true">
        <input type="submit" value="Slay">
    </form>
    <button>Wrong</button>
    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="done" value="true">
        <input type="submit" value="Done">
    </form>
</body>

</html>