<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Question</title>
</head>

<body>
    {{template "header" .}}
    <h1>📖
        <a href="/books/{{.Book.ID}}/questions">{{.Book.Name}}/</a>
    </h1>
    Today's Task: 
    <b> {{subAbs .Book.DailyPlan .Book.TodayDone}} / {{.Book.DailyPlan}} </b>
    <p>
        {{if .Question.Slayed.Bool}}🗡️{{else}} {{if .Question.Done.Bool}}✅{{else}} {{if gt .Question.WrongCount.Int16 0}}❌{{else}} ❓{{end}} {{end}}{{end}}
        {{.Question.Text}}
        <a href="./{{.Question.ID}}/options"> ✍️ </a>
    </p>
    <p>
        {{if ne .Question.Audio.String ""}}
        <audio src="/{{.Question.Audio.String}}" preload="none" controls></audio>
        {{end}}
        {{if ne .Question.Video.String ""}}
        <video src="/{{.Question.Video.String}}" preload="none" controls></video>
        {{end}}
    </p>
    <hr>
    <details>
        <summary>🙋Show option</summary>
        {{range .Options}}
            <textarea style="width: 80%" rows="20" disabled>{{.Text}}</textarea>
            {{if ne .Audio.String ""}}
            <audio src="/{{.Audio.String}}" controls></audio>
            {{end}}
            {{if ne .Video.String ""}}
            <video src="/{{.Video.String}}" controls></video>
            {{end}}
            {{range (splitByComma .Images.String)}}
            <img loading="lazy" src="/{{.}}" alt="img"><br>
            {{end}}
            <hr>
        {{end}}
    </details>
    <hr>
    {{if .Question.Slayed.Bool}}
    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="slayed" value="false">
        <input type="submit" value="🗡️Unslay">
    </form>{{else}}
    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="slayed" value="true">
        <input type="submit" value="🗡️Slay">
    </form>{{end}}

    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="wrong" value="true">
        <input type="submit" value="❌Wrong">
    </form>

    <form method="post" action="" enctype="multipart/form-data" style="display: inline-block;">
        <input type="hidden" name="done" value="true">
        <input type="submit" value="✅Done">
    </form>
</body>

</html>